.header {
	background: url(../images/bg-header.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.container__header {
	flex-grow: 1;
}
.header-wrapper {
	padding-top: 264px;
}
.header-title {
	letter-spacing: 4.8px;
	text-align: center;
	font-size: $titleHeader;
	color: $white-color;
	font-weight: bold;
	padding-bottom: 11px;
	transition: color 1s;
}
.span {
	display: block;
	text-align: center;
	letter-spacing: 6.82px;
	color: $white-color;
	font-size: 22px;
	padding-bottom: 48px;
	font-weight: 400;
}
.form {
	display: flex;
	border: 3px solid $white-color;
	max-width: 653px;
	width: 100%;
	margin: 0 auto 107px;
}
.form__input {
	border: none;
	display: block;
	width: calc(100% - 60px);
	height: 63px;
	background: #fff;
	position: relative;
	&::placeholder {
		letter-spacing: 2.8px;
		font-size: 14px;
		text-align: center;
		color: #999999;
	}
}

.form__btn {
	font-family: Aleo;
	font-size: 14px;
	letter-spacing: 1.4px;
	padding: 10px 50px 10px 60px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 150px;
	border: none;
	background: #5474fd;
	color: #fff;
	cursor: pointer;
	position: relative;
	z-index: 100;

	&:hover {
		text-decoration: underline;
		color: rgb(52, 210, 231);
	}
	&:active {
		color: rgb(2, 24, 75);
	}

	&::after {
		content: url(../images/serch.svg);
		position: absolute;
		top: 50%;
		right: 13px;
		transform: translateY(-50%);
	}
	&::before {
		content: url(../images/bg-blue.svg);
		position: absolute;
		z-index: -1;
		right: 19px;
		top: 1px;
		width: 100%;
	}
}
.span-scroll {
	display: block;
	text-align: center;
	letter-spacing: 2.8px;
	color: $white-color;
	font-size: 14px;
	text-decoration: none;
}

.span-arrow {
	content: url(../images/arrow.svg);
	display: block;
	margin: 0 auto;
	padding-top: 10px;
	margin-bottom: 132px;
}
.menu-header {
	width: 100%;
	background-color: #5474fd;
}
.menu-header__container {
	display: flex;
	padding: 30px 0 30px 0;
}
.menu {
	display: flex;
	&__item {
		padding-right: 25px;
		&:nth-child(4) {
			padding-right: 0;
		}
	}
	&__link {
		text-decoration: none;
		color: $white-color;
		text-transform: uppercase;
		font-size: 14px;
	}
}

.nav-header {
	display: flex;
	justify-content: end;
}
