.spain-hous-2 {
	background: url(../images/bg-block-3+1.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	padding: 227px 0 99px 0;
}
.spain-hous-2__container {
	display: flex;
	justify-content: flex-end;
}
.spain-wrapper-2 {
	width: 543px;
	background-color: rgba($color: #232323, $alpha: 0.9);
	color: #e8e8e8;
	padding-left: 32px;
	padding-bottom: 50px;

	&__span {
		display: block;
		padding: 49px 0 23px 0;
		font-size: 20px;
	}

	&__title {
		padding-bottom: 23px;
		font-size: 20px;
		color: $white-color;
		text-transform: uppercase;
	}

	&__text {
		padding-bottom: 48px;
		line-height: 26px;
	}
}
.btn-main__position {
	display: flex;
	margin: 0 0 32px 0;
}
