.tourist {
	background: url(../images/bg-block-4.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	padding: 128px 0 200px 0;
}
.tourist__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.tourist-wrapper {
	display: flex;
	justify-content: center;

	&__title {
		font-family: Aleo;
		font-size: 36px;
		margin: 0 0 93px 0;
		color: $white-color;
	}
}
.tourist-img {
	display: flex;
	justify-content: center;
}
.tourist-text {
	display: flex;
	flex-direction: column;
	background-color: rgba($color: #333333, $alpha: 1);
	height: 284px;
	width: 665px;

	&__title {
		color: $white-color;
		font-size: 20px;
		padding: 47px 0 8px 60px;
		text-transform: uppercase;
	}

	&__text {
		overflow: hidden;
		color: #e8e8e8;
		line-height: 26px;
		margin: 0 24px 38px 60px;
		.fa-quote-left {
			color: royalblue;
			font-size: 30px;
			padding-right: 5px;
		}
	}
}
